body {
    font-family: 'Raleway', sans-serif;
}

h1 {
    padding: 20px;
    font-size: 30px;
}

h2 {
    width: 600px;
    font-size: 20px;
    padding: 10px;
    margin: auto;
}

#vis1,#vis2 {
    width: 414px;
    height: 736px;
    border: 1px solid;
    /*float: left;*/
    margin-left: auto;
    margin-right: auto;
    margin-bottom:40px;
}

#plot1 {
    /*background-color: antiquewhite;*/
}

#plot2 {
    background-color: #b3b3b5;
}

#desc {
    width: 320px;
    margin-top: 50;
    margin-left: 60;
    margin-right: 30;
    font-size: 46px;
    font-style: italic;
    color: darkgray;
    /*font-weight: lighter;*/
    position: absolute;
}

#condition, #time {
    font-style: normal !important;
    font-weight: bolder !important;
    color: dimgrey;
}

#location {
    width: 250px;
    margin-top: 20;
    margin-left: 82;
    margin-right: 82;
    text-align: center;
    font-size: 28px;
    position: absolute;
    font-weight: bolder;
    color: dimgray;
}

#text {
    font-size: 18px;
    width: 600px;
    margin: auto;
    /*margin-left: 300px;
    margin-right: 300px;*/
}

.axis-y{
    shape-rendering: geometricPrecision;
    stroke: none;
}


.axis-x{
    stroke: none;
    shape-rendering: geometricPrecision;
}

.line{
    stroke-width: 2px;
    stroke: dimgrey;
    shape-rendering: geometricPrecision;
    fill: none;
}

.graphtitle{
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
}

img {
    width: 30%;
    height: auto;
}